
/* 
 * Main container for all
 */
 
*{
	margin: 0;
	padding: 0;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.grid{
	padding-bottom:100px;
	border-width: 3px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}



.onerow {
	clear: both;
	padding: 0 10px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/* 
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	position: relative;
	float: left;
	margin: 0 3% 0 0;
	color: #fff;
	margin-bottom: 20px;
	padding: 20px 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin-right: 0;
}

.col1 {
	width: 5.5%;
}

.col2 { 
	width: 14%;
}

.col3 { 
	width: 22.5%;
}

.col4 { 
	width: 31%;
}

.col5 { 
	width: 39.5%;
}

.col6 { 
	width: 48%;
}

.col7 { 
	width: 56.5%;
}

.col8 { 
	width: 65%;
}

.col9 { 
	width: 73.5%;
}

.col10 { 
	width: 82%;
}

.col11 { 
	width: 90.5%;
}

.col12 { 
	width: 99%;
}





/* 
 * Disable padding left/right 10px if I'm 1024 or bigger - correct percentage math
 */
@media all and (min-width: 1024px) {
	.onepcssgrid-1000 {
		max-width: 1000px;
	}

	.onepcssgrid-1000 .onerow {
		padding: 0;
	}
}


/* 
 * Small devices
 */
@media all and (max-width: 768px) {
	.onerow {
		margin: 0 0 100px;
	}

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
		float: none;
		width: 99%;
	}
}