@charset "utf-8";

/** General Style Info **/
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

.flash{
	position: absolute;
	display: none;
	height: 15px;
	z-index: 20;
}

.starbust_test{
	position: absolute;
	z-index: 0;
	display: block;
	height: 20px;
	width: 20px;
	background-color: red;
	color: white;
}

#flash1{	top:150px;		right: 65%;}
#flash2{	top:150px;		right: 55%;}
#flash3{	top:150px;		right: 45%;}
#flash4{	top:150px;		right: 35%;}
#flash5{	top:150px;		right: 25%;}
#flash6{	top:150px;		right: 15%;}
#flash7{	top:150px;		right: 5%;}
#flash8{ 	top:200px;		right: 70%;}
#flash9{	top:200px;		right: 60%;}
#flash10{	top:200px;		right: 50%;}
#flash11{	top:200px;		right: 40%;}
#flash12{	top:200px;		right: 30%;}
#flash13{	top:200px;		right: 20%;}
#flash14{	top:200px;		right: 10%;}
#flash15{	top:250px;		right: 25%;}
#flash16{	top:250px;		right: 15%;}
#flash17{	top:250px;		right: 5%;}
#flash18{	top:300px;		right: 30%;}
#flash19{	top:300px;		right: 20%;}
#flash20{	top:300px;		right: 10%;}
#flash21{	top:350px;		right: 35%;}
#flash22{	top:350px;		right: 25%;}
#flash23{	top:350px;		right: 15%;}
#flash24{	top:350px;		right: 5%;}

/* Headings */
.large_link{
	font:25px;
	text-decoration: none;
}

h1{
	color: rgb(255,255,255);
}

h2{
	color: rgb(170,0,0);
	margin-bottom: 10px;
	font: 35px;
}

h3{
	color: rgb(170,0,0);
}

html, body, #container{
	color: rgb(170,0,0);
}

img {
	text-decoration: none;
	border: 0px;
}

.large_page_paragraph{
	padding: 5px;
	font-family: Georgia, serif;
	font-size: 20px;
	color: white;
	margin-bottom: 15px;
}

.small_page_paragraph{
	font-family: Georgia, serif;
	font-size: 16px;
	color: white;
	margin-bottom: 5px;
}

ul {
	list-style-image: url("../img/logo_20_20.png");
	padding-left:14px;
	vertical-align: middle;
	
}

ol li{
	margin-left: 30px;
	list-style-type: square;

	vertical-align: middle;

}

#container{
	/*
	background: url('../img/blank_goal.png');
	background-repeat: no-repeat; 
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	min-height:100%;
	position:relative;
	overflow: auto;
}

#background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url('../img/blank_goal.png');
	background-repeat: no-repeat; 
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0px 20px 20px black;
}

#main_header{
	background-image: linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -o-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -moz-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -ms-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -webkit-gradient(linear,left bottom,left top,-stop(0.45, rgb(255,13,0)),color-stop(0.45, rgb(235,0,0)));
	position: relative;
	z-index: 30;
	min-height: 95px;
	margin-bottom: 80px;
}

#page_title_banner{
	position: absolute;
	z-index: 20;
	top: 95px;
	height: 40px;
	width: 100%;
	background: white;
	display: none;
}

#page_title{
	position: absolute;
	left: 200px;
	height: 100%;
}

#main_body{
	padding-bottom:100px;
	border-width: 3px;
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

#main_footer{
	background: rgba(177,0,0,1);
	position:absolute;
	bottom:0;
	width:100%;
	height:240px;
	clear: both;
}

#main_footer a{
	color: rgb(255,255,255);
}

#small_footer{
	background: rgb(33,33,33);
	background: -moz-linear-gradient(top,  rgba(33,33,33,1) 3%, rgba(63,63,63,1) 9%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(33,33,33,1)), color-stop(9%,rgba(63,63,63,1)));
	background: -webkit-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(63,63,63,1) 9%);
	background: -o-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(63,63,63,1) 9%);
	background: -ms-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(63,63,63,1) 9%);
	background: linear-gradient(to bottom,  rgba(33,33,33,1) 3%,rgba(63,63,63,1) 9%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#3f3f3f',GradientType=0 );
	position:absolute;
	bottom:0;
	padding-top: 10px;
	width:100%;
	height:190px;
	color: rgb(255,255,255);
}

#small_footer a{
	color: rgb(255,255,255);
}

#small_footer .onerow{
	width: 100%;
}

.dividing_row{
	width: 100%;
	overflow: auto;
	width:100%;
	height:50px;
	background: rgb(33,33,33);
	background: -moz-linear-gradient(top,  rgba(33,33,33,1) 3%, rgba(177,0,0,1) 9%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(33,33,33,1)), color-stop(9%,rgba(177,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(177,0,0,1) 9%);
	background: -o-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(177,0,0,1) 9%);
	background: -ms-linear-gradient(top,  rgba(33,33,33,1) 3%,rgba(177,0,0,1) 9%);
	background: linear-gradient(to bottom,  rgba(33,33,33,1) 3%,rgba(177,0,0,1) 9%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#b10000',GradientType=0 );
}

.dividing_row .col12{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.middle_image{
	vertical-align: middle;
}

.top{
	vertical-align: top;
}



#page_footer{
	background: rgba(40,32,59,0.7);
	border-style: solid;
	border-color: rgba(40,32,59,1);
	border-width: 3px;
	position:absolute;
	bottom:90px;
	left: 5%;
	width:90%;
	height: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_content{
	width: 100%;
	position: relative;
}

#login_box_header{
	float: right;
	position: absolute;
	right: 35px;
	top: 5px;
	color: rgb(200,200,200);
	font:15px;
	text-align: right;
	text-decoration: none;
	width: 50%;
	overflow: auto;
}

#login_box_header img{
	padding-left: 5px;
	float: right;

}

/* On Login page */
#login_box_large{
	background: rgba(40,32,59,0.7);
	border-color: rgba(40,32,59,1);
	border-style: solid;
	border-width: 3px;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

#main_logo{
	width: 150px;
	position: absolute;
	left: 35px;
	top: 15px;
}

#text_logo{
	width: 275px;
	position: absolute;
	left: 195px;
	top: 15px;
}

#nav_links{
	float: right;
	padding-top: 10px;
	padding-right: 35px;
}

#nav_links a{
	color: rgb(170,0,0);
	font:20px;
	text-decoration: none;
}

#good_causes_button{
	width: 270px;
}

#check_results_button{
	width: 110px;
}

#outtakes_button{
	width: 120px;
}

.footer_element{
	padding-top: 5px;
	padding-bottom: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.large{
	width: 66%;
}

.medium{
	width: 80%;
}

#paypal_image{
	width: 60px;
}

#facebook_login_button{
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.clear{
	clear: left;
	display: block; 
}

.right_align{
	text-align: right;
}

.left_align{
	text-align: left;
}

.center_align{
	text-align: center;
}

.full_align{
	text-align: justify;
}


.crosshair{
	pointer-events: none;
	width: 15px;
	position: absolute;
	z-index: 10;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#home_padding{
	padding-bottom: 1200px;
}

#sidebar {
	position: absolute;
	top: 20px;
	left: 0;
	display: none;
	background: rgba(40,32,59,0.85);
	color: #FFF;
	padding: 10px;
	width: 400px;
	height: 90%;
}



#home_buttons{
	position: absolute;
	z-index: 30;
	right: 100px;
	top: 1500px;
}

.large_button{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 200px;
	font-size: 25px;
}

#play_now_button{
	margin-right: 35px;
}

button{
	background-image: linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -o-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -moz-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -ms-linear-gradient(bottom, rgb(255,13,0) 45%, rgb(235,0,0) 45%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(255,13,0)),color-stop(0.45, rgb(235,0,0)));
	border-style: ridge;
	border-color: white;
	border-width: 5px;
	border-radius: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	box-shadow: 6px 6px 10px black;

	color: white;

}

button:hover {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 55%, rgba(255,214,214,1) 65%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(255,255,255,1)), color-stop(65%,rgba(255,214,214,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,214,214,1) 65%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,214,214,1) 65%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,214,214,1) 65%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 55%,rgba(255,214,214,1) 65%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffd6d6',GradientType=0 );
	color: rgb(170,0,0);
}

button:active {
   box-shadow: 1px 1px 10px black;
}

#toggle{
	color: #FFF;
}

label{
	display: block;
}

#facebook_login_button_page{
	width: 150px;
	float: right;
}

#login_page_form{
	padding-top: 30px;
	padding-bottom: 40px;
	position: relative;
	height: 100%;
}

#forgot_password_link{
	position: absolute;
	bottom: 0;
	left: 0;
}

#login_box_page{
	margin-top: 20px;
}

a{
	color: rgb(170,0,0);
}

#countdown{
	margin-top: 5px;
}

.countdown_digit{
	display: inline-block;
	*display: inline;
	zoom: 1;
	height: 20px;
	width: 15px;
	color: #f3f5f4;
	text-align: center;
	border:1px solid;
	border-color: #242424;
	border-radius:2px;
	background: rgb(80,85,86);
	background: -moz-linear-gradient(top,  rgba(80,85,86,1) 1%, rgba(80,85,86,1) 52%, rgba(67,68,69,1) 56%, rgba(34,35,43,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(80,85,86,1)), color-stop(52%,rgba(80,85,86,1)), color-stop(56%,rgba(67,68,69,1)), color-stop(100%,rgba(34,35,43,1)));
	background: -webkit-linear-gradient(top,  rgba(80,85,86,1) 1%,rgba(80,85,86,1) 52%,rgba(67,68,69,1) 56%,rgba(34,35,43,1) 100%);
	background: -o-linear-gradient(top,  rgba(80,85,86,1) 1%,rgba(80,85,86,1) 52%,rgba(67,68,69,1) 56%,rgba(34,35,43,1) 100%);
	background: -ms-linear-gradient(top,  rgba(80,85,86,1) 1%,rgba(80,85,86,1) 52%,rgba(67,68,69,1) 56%,rgba(34,35,43,1) 100%);
	background: linear-gradient(to bottom,  rgba(80,85,86,1) 1%,rgba(80,85,86,1) 52%,rgba(67,68,69,1) 56%,rgba(34,35,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505556', endColorstr='#22232b',GradientType=0 );
}

.countdown_digit p{
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 12px;
}

.digit_label{
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: 12px;
}

#days_label{
	margin-right: 18px;
}

#hours_label{
	margin-right: 20px;
}

#mins_label{
	margin-right: 19px;
}

#secs_label{
	margin-right: 5px;
}


.marg{
	margin-right: 10px;
}

.overlay{
	position: absolute;
	display: none;
	z-index: 2;
	bottom: 50px;
	top: 20px;
	padding-top: 20px;
	background: rgba(40,32,59,0.75);
	cursor: default;
	height: 180px;
	width: 101%;
}

#selection_saved_overlay{
	height: 100px;
}



#game_image_container{
	position: relative;
	text-align: center;
}

.game_image{
	position: relative;
	width: 100%;
	border-style: solid;
	border-color: rgba(40,32,59,1);
	border-width: 5px;
	cursor: crosshair;
}

#game_image_alt{
	cursor: default;
}

.display_none{
	display: none;
}


.game_image_inlay{
	display: none;
	position: absolute;
	bottom: 24px;
	right: -9px;
	width: 175px;
	border-style: solid;
	border-color: rgba(40,32,59,1);
	border-width: 4px;
}

#game_image_tab{
	position: absolute;
	z-index: 10;
	bottom: -5px;
	right: -10px;
	width: 175px;
	height: 25px;
	border-style: solid;
	border-color: rgba(40,32,59,1);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: rgba(40,32,59,0.75);
	border-width: 4px;
	cursor: pointer;
	text-align: center;
}

.alternate{
	text-align: center;
}

.alternate_one{
	background: rgba(40,32,59,0.9);
	color: #cac8c8;
}

.alternate_two{
	background: rgba(200,200,200,0.9);
	color: #28203b;
}

.alternate_one h2{
	color: #cac8c8;
}

.alternate_two h2{
	color: #28203b;
}

img.game_ball_image{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

#game_ball_bag{
	width: 165px;
	margin-left: auto;
	margin-right: auto;
}

.game_ball{
	font-weight:bold;
	margin-top: 5px;
}

.avaliable{
	color: green;
}

.not_avaliable{
	text-decoration: line-through;
	color: red;
}

#aboutUsContainer{
	background: rgba(40,32,59,0.9);
	overflow: auto;
}


table{
	width: 100%;
}

td{
	text-align: center;
	width: 30%;
}

/* **********************************************************************************/
/*		Form CSS																	*/
/* **********************************************************************************/
label{
	float: left;
	width: 175px;
	height: 25px;
	text-align: right;
	margin-right: 5px;
	vertical-align: middle;
}

input{
	float: left;
}

textarea{
	float: left;
}

.input{
	clear: both;
	overflow: auto;
}

.submit{
	clear: both;
	width: 100%;
	overflow: auto;
	text-align: center;
}

.submitButton{
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}

#GameDisplayGameForm label{
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
	width: 50%;
}
#GameDisplayGameForm input{
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 50px;
	text-align: center;
}

#GameDisplayGameForm .submitButton{
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}

#y_input{
	margin-bottom: 10px;
}

#UserLoginForm label{
	text-align: left;
}

#contact_us_form .input{
	min-height: 35px;
	background: rgba(200,200,200,0.9);
	margin-bottom: 10px;

}

#contact_us_form, #contact_us_form .submitButton{
	float: right;
}

#contact_us_form .submitButton, #contact_us_form textarea, #contact_us_form input{
	width: 305px;
	color: rgb(40,32,59);
	border: 0;
	border: 0;
	height: 35px;
	padding-left: 5px;
}

#contact_us_form textarea{
	height: 100px;
}

#contact_us_form label{
	width: 100px;
	text-align: left;
	font-weight: bold;
	margin-right: 0;
	padding-left: 3px;
	padding-top: 6px;
	vertical-align: middle;
	color: rgb(40,32,59);
	border: 0;
}





/* **********************************************************************************/
/*		Contact Us Page																*/
/* **********************************************************************************/
#contact_us_heading{
	float: right;
	font: 50px;
}

/* **********************************************************************************/
/*		Outtakes Page																*/
/* **********************************************************************************/
blockquote{
	font-family: Georgia, serif;
	font-size: 30px;
	font-style: italic;
	color: white;
	padding-left: 120px;
	margin-top: 50px;
}
 
blockquote:before {
	display: block;
	font-size: 200px;
	content: open-quote;
	height: 1px;
	margin-left: -0.55em;
	position:relative;
	top:-60px;
}

.headshot_image{
	border-style: solid;
	border-color: rgba(255,255,255,1);
	border-width: 5px;
	width: 95%;
}

.outtakes_video{
	width: 600px;
	border-style: solid;
	border-color: rgba(255,255,255,1);
	border-width: 5px;
}

.outtakes_text{
	font-family: Georgia, serif;
	font-size: 20px;
	color: white;
	margin-bottom: 15px;
}

/* **********************************************************************************/
/*		Good Causes Page															*/
/* **********************************************************************************/
/*
.youtube_video{
	border-style: solid;
	border-color: rgba(255,255,255,1);
	border-width: 5px;
}

.video_container{
	width: 100%;
	max-width: 800px;
}
*/
.video_container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.video_container iframe,
.video_container object,
.video_container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	border-style: solid;
	border-color: rgba(255,255,255,1);
	border-width: 5px;
}

/* **********************************************************************************/
/*		dialog box																*/
/* **********************************************************************************/

.dim{
	height:100%;
	width:100%;
	position: fixed;
	left:0;
	top:0;
	z-index:1;
	background: rgba(0,0,0,0.8);
	display: none;
}

#new_entry{
	width: 600px;
	height: 300px;
	background: rgb(255,255,255);
	margin-right: auto;
	margin-left: auto;
	margin-top: 250px; 
}


/* **********************************************************************************/
/*		Media Queries																*/
/* **********************************************************************************/
@media all and (max-width: 970px) {

	#facebook_info{
		display: none;
	}
}

/* **********************************************************************************/
/*		Facebook Like																*/
/* **********************************************************************************/
.fb-like{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

