form{
	label{
		color: $paragraphTextColor;
		display: inline-block;
		cursor: pointer;
		position: relative;
		margin-bottom: 5px;

		&:first-child{
			margin-top: 0px;
		}
	}

	input, select, textarea{
		width: 100%;
		padding: 10px 25px 10px 15px;
		display: block;
		font-size: 16px;
		background: rgba(70, 70, 70, 0.6);
		border: none;
	}

	input, select, .select-wrapper{
		height: 40px;
	}

	.select-wrapper{
		position: relative;

		&.select-wrapper--third{
			width: 33%;
			height: 40px;
			float: left;
			width: calc((100% / 3) - 10px);
			margin-right: 15px;

			&:last-of-type{
				margin-right: 0;
			}
		}		
	}

	select {
		font-size: 16px;
		background: rgba(70, 70, 70, 0.6);
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}

	select::-ms-expand {
		display: none;
	}

	.select-wrapper:after{
		position: absolute;
		right: 7px;
		bottom: 3px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f107";
		font-size: 30px;
		color: white;
	}

	input[type=submit] {
		-webkit-appearance: none;
		border: none;
	}

	.half{
		width: calc((100% / 2) - 8px);
		float: left;

		&:first-of-type{
			margin-right: 16px;
		}
	}

	.cta{
		margin-top: 20px;
	}

	ul{
		li{
			padding-top: 20px;
			overflow: hidden;
			_overflow: visible;
		}
	}
}

.float-form{
	ul{
		overflow: hidden;
		_overflow: visible;

		li{
			padding-top: 5px;

			input, label, .mock-input{
				float: left;
				width: 30%;
				margin-right: 1%;
				padding-top: 10px;
				padding-right: 0;
			}

			i{
				float: left;
				width: 7%;
				padding: 12px 0;
				cursor: pointer;
				text-align: right;

				&:hover{
					color: $highlightColor;
				}
			}
		}
	}
}

.fb-login-button{
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}