
/* 
 * Main container for all
 */
 
*{
	margin: 0;
	padding: 0;
}

html, body {
	height:100%;
}

.grid{
	padding-bottom: 230px;
	/*max-width: 1300px;
	width: 95%;*/
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#home_container .grid{
	max-width: 100%;
}

#game_grid{
	max-width: 100%;
	width: 1150px;
}

.onerow {
	clear: both;
	float: left;
	width: 100%;
	padding: 80px 5%;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
}

/* 
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .colcenter40 {
	position: relative;
	float: left;
	display: block;
	margin: 0 3% 0 0;
	height: 100%;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin-right: 0;
}

.col1 {
	width: 5.5%;
}

.col2 { 
	width: 14%;
}

.col3 { 
	width: 22.7%;
}

.col4 { 
	width: 31%;
}

.col5 { 
	width: 39.5%;
}

.col6 { 
	width: 48%;
}

.col7 { 
	width: 56.5%;
}

.col8 { 
	width: 65%;
}

.col9 { 
	width: 73.5%;
}

.col10 { 
	width: 82%;
}

.col11 { 
	width: 90.5%;
}

.col12 { 
	width: 99%;
}

.colcenter40{
	margin: auto;
	width: 40%;
	min-width: 400px;
	float: none;
}