/* **********************************************************************************/
/*		header logo text															*/
/* **********************************************************************************/
@media all and (max-width: 1155px){
	.header .header__logo-wrapper .logo-wrapper__text{
		top: 22px;
		font-size: 40px;
	}
}

/* **********************************************************************************/
/*      Tablet Portrait size to standard 960 (devices and browsers)					*/
/* **********************************************************************************/
@media all and (max-width: 959px){
	.helper--desktop-only{ display: none; }
	.helper--tablet-only{ display: block; }
	.body-wrapper{ padding-top: 105px; }
	.home-bg-wrapper{ margin-top: -70px; }

	.header{
		height: 70px;

		.header__logo-wrapper{

			.logo-wrapper__img{
				width: 50px;
				right: 10px;
				top: 10px;
			}

			.logo-wrapper__text{
				right: 65px;
				top: 5px;
			}
		}
		.header__login-wrapper{
			top: 12px;
			left: 10px;
		}
	}
}

/* **********************************************************************************/
/*      All Mobile Sizes (devices and browser)										*/
/* **********************************************************************************/
@media all and (max-width: 767px){
	.helper--desktop-tablet-only{ display: none; }
	.helper--desktop-only{ display: none; }
	.helper--tablet-only{ display: none; }
	.helper--mobile-only{ display: block !important; }
	.helper--mobile-only-inline{ display: inline-block !important; }
	.body-wrapper{ padding-top: 50px; }


	.header{
		height: 50px;

		.header__logo-wrapper{

			.logo-wrapper__img{
				width: 25px;
				left: 10px;
				top: 12px;
			}

			.logo-wrapper__text{
				left: 40px;
				top: 10px;
				right: inherit;
				font-size: 20px;
			}
		}

		.header__hamburger-icon{
			position: absolute;
			top: 0;
			right: 0;
			padding: 15px;
			cursor: pointer;
			font-size: 20px;

			&:hover{
				color: $highlightColor;
			}
		}

		.header__nav-wrapper{
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100vh;
			padding: 40px;
			background: rgba(10,10,10, 0.9);
			z-index: 100;
			display: none;	

			ul.nav-warpper__nar-bar{

				.nav-bar__close-btn{
					position: absolute;
					top: 20px;
					right: 20px;
					cursor: pointer;

					&:hover{
						color: $highlightColor;
					}
				}

				li.nav-bar__link-wrapper{
					float: none;
					margin-right: 0px;
					padding: 0px;

					&.active-menu{
						border-bottom: none;

						a{
							color: $highlightColor;
						}
					}

					a.link-wrapper__link{
						height: auto;
						font-size: 1.5em;
						font-weight: bold;
						text-align: center;
						text-decoration: none;
						vertical-align: middle;
						display: block;
						padding: 12px 0px;
					}
				}
			}
		}
	}
}







/* **********************************************************************************/
/*		home screen flashes															*/
/* **********************************************************************************/

@media all and (max-height: 700px){ 
	#flash1{	top:120px;		right: 50%;}
	#flash2{	top:120px;		right: 65%;}
	#flash3{	top:300px;		right: 95%;}
	#flash4{	top:120px;		right: 35%;}
	#flash5{	top:300px;		right: 25%;}
	#flash6{	top:120px;		right: 15%;}
	#flash7{	top:120px;		right: 5%;}
	#flash8{ 	top:200px;		right: 70%;}
	#flash9{	top:200px;		right: 60%;}
	#flash10{	top:200px;		right: 95%;}
	#flash11{	top:300px;		right: 35%;}
	#flash12{	top:175px;		right: 30%;}
	#flash13{	top:175px;		right: 20%;}
	#flash14{	top:175px;		right: 10%;}
	#flash15{	top:225px;		right: 25%;}
	#flash16{	top:225px;		right: 15%;}
	#flash17{	top:225px;		right: 5%;}
	#flash18{	top:300px;		right: 30%;}
	#flash19{	top:300px;		right: 20%;}
	#flash20{	top:300px;		right: 10%;}
	#flash21{	top:225px;		right: 35%;}
	#flash22{	top:300px;		right: 25%;}
	#flash23{	top:300px;		right: 15%;}
	#flash24{	top:300px;		right: 5%;}
}

@media all and (min-width: 1300px){ 
	#flash2{	top:120px;		right: 65%;}
	#flash10{	top:200px;		right: 95%;}
}